body {
    font-size: 20px;
    background-color: aliceblue;
}

.box {
    width: 200px;
    height: 200px;
    border-right-color: aliceblue;
}

.box2 {
    width: 400px;
    height: 460px;
    background-color: #bfa;
}

.bu {
    glyph-orientation-vertical: auto;
    height: 20px;
}